{
  "openapi": "3.1.0",
  "info": {
    "title": "TMDB API",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/3/search/movie": {
      "get": {
        "summary": "Movie",
        "description": "Search for movies by their original, translated and alternative titles.",
        "operationId": "search-movie",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "release_date": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "video": {
                            "type": "boolean",
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/discover/movie": {
      "get": {
        "summary": "Movie",
        "description": "Find movies using over 30 filters and sort options.",
        "operationId": "discover-movie",
        "parameters": [
          {
            "name": "certification",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification.gte",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification.lte",
            "in": "query",
            "description": "use in conjunction with `region`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "certification_country",
            "in": "query",
            "description": "use in conjunction with the `certification`, `certification.gte` and `certification.lte` filters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_video",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "primary_release_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "primary_release_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "release_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "original_title.asc",
                "original_title.desc",
                "popularity.asc",
                "popularity.desc",
                "revenue.asc",
                "revenue.desc",
                "primary_release_date.asc",
                "title.asc",
                "title.desc",
                "primary_release_date.desc",
                "vote_average.asc",
                "vote_average.desc",
                "vote_count.asc",
                "vote_count.desc"
              ],
              "default": "popularity.desc"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_average.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "watch_region",
            "in": "query",
            "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_cast",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_companies",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_crew",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_genres",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_keywords",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_origin_country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_original_language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_people",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_release_type",
            "in": "query",
            "description": "possible values are: [1, 2, 3, 4, 5, 6] can be a comma (`AND`) or pipe (`OR`) separated query, can be used in conjunction with `region`",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.gte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.lte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_watch_monetization_types",
            "in": "query",
            "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_providers",
            "in": "query",
            "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_companies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_genres",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_keywords",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_watch_providers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "release_date": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "video": {
                            "type": "boolean",
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/movie/{movie_id}": {
      "get": {
        "summary": "Details",
        "description": "Get the top level details of a movie by ID.",
        "operationId": "movie-details",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adult": {
                      "type": "boolean",
                      "default": true
                    },
                    "backdrop_path": {
                      "type": "string"
                    },
                    "belongs_to_collection": {},
                    "budget": {
                      "type": "integer",
                      "default": 0
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "imdb_id": {
                      "type": "string"
                    },
                    "original_language": {
                      "type": "string"
                    },
                    "original_title": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "popularity": {
                      "type": "number",
                      "default": 0
                    },
                    "poster_path": {
                      "type": "string"
                    },
                    "production_companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "logo_path": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "production_countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iso_3166_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "release_date": {
                      "type": "string"
                    },
                    "revenue": {
                      "type": "integer",
                      "default": 0
                    },
                    "runtime": {
                      "type": "integer",
                      "default": 0
                    },
                    "spoken_languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "english_name": {
                            "type": "string"
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "tagline": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "video": {
                      "type": "boolean",
                      "default": true
                    },
                    "vote_average": {
                      "type": "number",
                      "default": 0
                    },
                    "vote_count": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}": {
      "get": {
        "summary": "Details",
        "description": "Get the details of a TV show.",
        "operationId": "tv-series-details",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adult": {
                      "type": "boolean",
                      "default": true
                    },
                    "backdrop_path": {
                      "type": "string"
                    },
                    "created_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "integer",
                            "default": 0
                          },
                          "profile_path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "episode_run_time": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "default": 0
                      }
                    },
                    "first_air_date": {
                      "type": "string"
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "in_production": {
                      "type": "boolean",
                      "default": true
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "last_air_date": {
                      "type": "string"
                    },
                    "last_episode_to_air": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "default": 0
                        },
                        "name": {
                          "type": "string"
                        },
                        "overview": {
                          "type": "string"
                        },
                        "vote_average": {
                          "type": "number",
                          "default": 0
                        },
                        "vote_count": {
                          "type": "integer",
                          "default": 0
                        },
                        "air_date": {
                          "type": "string"
                        },
                        "episode_number": {
                          "type": "integer",
                          "default": 0
                        },
                        "production_code": {
                          "type": "string"
                        },
                        "runtime": {
                          "type": "integer",
                          "default": 0
                        },
                        "season_number": {
                          "type": "integer",
                          "default": 0
                        },
                        "show_id": {
                          "type": "integer",
                          "default": 0
                        },
                        "still_path": {
                          "type": "string"
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "next_episode_to_air": {},
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "logo_path": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "number_of_episodes": {
                      "type": "integer",
                      "default": 0
                    },
                    "number_of_seasons": {
                      "type": "integer",
                      "default": 0
                    },
                    "origin_country": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "original_language": {
                      "type": "string"
                    },
                    "original_name": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "popularity": {
                      "type": "number",
                      "default": 0
                    },
                    "poster_path": {
                      "type": "string"
                    },
                    "production_companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "logo_path": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "production_countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iso_3166_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "air_date": {
                            "type": "string"
                          },
                          "episode_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "name": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "season_number": {
                            "type": "integer",
                            "default": 0
                          },
                          "vote_average": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "spoken_languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "english_name": {
                            "type": "string"
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "tagline": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "vote_average": {
                      "type": "number",
                      "default": 0
                    },
                    "vote_count": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/search/tv": {
      "get": {
        "summary": "TV",
        "description": "Search for TV shows by their original, translated and also known as names.",
        "operationId": "search-tv",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "description": "Search only the first air date. Valid values are: 1000..9999",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Search the first air date and all episode air dates. Valid values are: 1000..9999",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "origin_country": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_name": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "first_air_date": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/search/multi": {
      "get": {
        "summary": "Multi",
        "description": "Use multi search when you want to search for movies, TV shows and people in a single request.",
        "operationId": "search-multi",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string"
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "media_type": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "release_date": {
                            "type": "string"
                          },
                          "video": {
                            "type": "boolean",
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/search/person": {
      "get": {
        "summary": "Person",
        "description": "Search for people by their name and also known as names.",
        "operationId": "search-person",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "gender": {
                            "type": "integer",
                            "default": 0
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "known_for_department": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "original_name": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "profile_path": {
                            "type": "string"
                          },
                          "known_for": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "adult": {
                                  "type": "boolean",
                                  "default": true
                                },
                                "backdrop_path": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "title": {
                                  "type": "string"
                                },
                                "original_language": {
                                  "type": "string"
                                },
                                "original_title": {
                                  "type": "string"
                                },
                                "overview": {
                                  "type": "string"
                                },
                                "poster_path": {
                                  "type": "string"
                                },
                                "media_type": {
                                  "type": "string"
                                },
                                "genre_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "integer",
                                    "default": 0
                                  }
                                },
                                "popularity": {
                                  "type": "number",
                                  "default": 0
                                },
                                "release_date": {
                                  "type": "string"
                                },
                                "video": {
                                  "type": "boolean",
                                  "default": true
                                },
                                "vote_average": {
                                  "type": "number",
                                  "default": 0
                                },
                                "vote_count": {
                                  "type": "integer",
                                  "default": 0
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/configuration": {
      "get": {
        "summary": "Details",
        "description": "Query the API configuration details.",
        "operationId": "configuration-details",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "object",
                      "properties": {
                        "base_url": {
                          "type": "string"
                        },
                        "secure_base_url": {
                          "type": "string"
                        },
                        "backdrop_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "logo_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "poster_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "profile_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "still_sizes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "change_keys": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}/season/{season_number}": {
      "get": {
        "summary": "Details",
        "description": "Query the details of a TV season.",
        "operationId": "tv-season-details",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "season_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "air_date": {
                      "type": "string"
                    },
                    "episodes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "air_date": {
                            "type": "string"
                          },
                          "episode_number": {
                            "type": "integer",
                            "default": 0
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "name": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "production_code": {
                            "type": "string"
                          },
                          "runtime": {
                            "type": "integer",
                            "default": 0
                          },
                          "season_number": {
                            "type": "integer",
                            "default": 0
                          },
                          "show_id": {
                            "type": "integer",
                            "default": 0
                          },
                          "still_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "crew": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "department": {
                                  "type": "string"
                                },
                                "job": {
                                  "type": "string"
                                },
                                "credit_id": {
                                  "type": "string"
                                },
                                "adult": {
                                  "type": "boolean",
                                  "default": true
                                },
                                "gender": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "id": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "known_for_department": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "original_name": {
                                  "type": "string"
                                },
                                "popularity": {
                                  "type": "number",
                                  "default": 0
                                },
                                "profile_path": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "guest_stars": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "character": {
                                  "type": "string"
                                },
                                "credit_id": {
                                  "type": "string"
                                },
                                "order": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "adult": {
                                  "type": "boolean",
                                  "default": true
                                },
                                "gender": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "id": {
                                  "type": "integer",
                                  "default": 0
                                },
                                "known_for_department": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "original_name": {
                                  "type": "string"
                                },
                                "popularity": {
                                  "type": "number",
                                  "default": 0
                                },
                                "profile_path": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "poster_path": {
                      "type": "string"
                    },
                    "season_number": {
                      "type": "integer",
                      "default": 0
                    },
                    "vote_average": {
                      "type": "number",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}/season/{season_number}/episode/{episode_number}": {
      "get": {
        "summary": "Details",
        "description": "Query the details of a TV episode.",
        "operationId": "tv-episode-details",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "season_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "episode_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "append_to_response",
            "in": "query",
            "description": "comma separated list of endpoints within this namespace, 20 items max",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "air_date": {
                      "type": "string"
                    },
                    "crew": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "department": {
                            "type": "string"
                          },
                          "job": {
                            "type": "string"
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "gender": {
                            "type": "integer",
                            "default": 0
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "known_for_department": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "original_name": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "profile_path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "episode_number": {
                      "type": "integer",
                      "default": 0
                    },
                    "guest_stars": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "character": {
                            "type": "string"
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "order": {
                            "type": "integer",
                            "default": 0
                          },
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "gender": {
                            "type": "integer",
                            "default": 0
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "known_for_department": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "original_name": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "profile_path": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "production_code": {
                      "type": "string"
                    },
                    "runtime": {
                      "type": "integer",
                      "default": 0
                    },
                    "season_number": {
                      "type": "integer",
                      "default": 0
                    },
                    "still_path": {
                      "type": "string"
                    },
                    "vote_average": {
                      "type": "number",
                      "default": 0
                    },
                    "vote_count": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/discover/tv": {
      "get": {
        "summary": "TV",
        "description": "Find TV shows using over 30 filters and sort options.",
        "operationId": "discover-tv",
        "parameters": [
          {
            "name": "air_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "air_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "first_air_date.gte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "first_air_date.lte",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "include_adult",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_null_first_air_dates",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "screened_theatrically",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "first_air_date.asc",
                "first_air_date.desc",
                "name.asc",
                "name.desc",
                "original_name.asc",
                "original_name.desc",
                "popularity.asc",
                "popularity.desc",
                "vote_average.asc",
                "vote_average.desc",
                "vote_count.asc",
                "vote_count.desc"
              ],
              "default": "popularity.desc"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vote_average.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_average.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.gte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "vote_count.lte",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "watch_region",
            "in": "query",
            "description": "use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_companies",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_genres",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_keywords",
            "in": "query",
            "description": "can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_networks",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_origin_country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_original_language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_runtime.gte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_runtime.lte",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "with_status",
            "in": "query",
            "description": "possible values are: [0, 1, 2, 3, 4, 5], can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_monetization_types",
            "in": "query",
            "description": "possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_watch_providers",
            "in": "query",
            "description": "use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_companies",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_genres",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_keywords",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "without_watch_providers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_type",
            "in": "query",
            "description": "possible values are: [0, 1, 2, 3, 4, 5, 6], can be a comma (`AND`) or pipe (`OR`) separated query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "backdrop_path": {
                            "type": "string"
                          },
                          "first_air_date": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "name": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_name": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "integer",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/movie/{movie_id}/images": {
      "get": {
        "summary": "Images",
        "description": "Get the images that belong to a movie.",
        "operationId": "movie-images",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backdrops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {},
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "logos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "posters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}/images": {
      "get": {
        "summary": "Images",
        "description": "Get the images that belong to a TV series.",
        "operationId": "tv-series-images",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backdrops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {},
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "logos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "posters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}/season/{season_number}/images": {
      "get": {
        "summary": "Images",
        "description": "Get the images that belong to a TV season.",
        "operationId": "tv-season-images",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "posters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {
                            "type": "string"
                          },
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/tv/{series_id}/season/{season_number}/episode/{episode_number}/images": {
      "get": {
        "summary": "Images",
        "description": "Get the images that belong to a TV episode.",
        "operationId": "tv-episode-images",
        "parameters": [
          {
            "name": "series_id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "include_image_language",
            "in": "query",
            "description": "specify a comma separated list of ISO-639-1 values to query, for example: `en,null`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "episode_number",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "default": 0
                    },
                    "stills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "aspect_ratio": {
                            "type": "number",
                            "default": 0
                          },
                          "height": {
                            "type": "integer",
                            "default": 0
                          },
                          "iso_639_1": {},
                          "file_path": {
                            "type": "string"
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          },
                          "width": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/trending/all/{time_window}": {
      "get": {
        "summary": "All",
        "description": "Get the trending movies, TV shows and people.",
        "operationId": "trending-all",
        "parameters": [
          {
            "name": "time_window",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "description": "`ISO-639-1`-`ISO-3166-1` code",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string"
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "media_type": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "release_date": {
                            "type": "string"
                          },
                          "video": {
                            "type": "boolean",
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
                            "default": 0
                          },
                          "vote_count": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    },
                    "total_pages": {
                      "type": "integer",
                      "default": 0
                    },
                    "total_results": {
                      "type": "integer",
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/3/trending/movie/{time_window}": {
      "get": {
        "summary": "Movies",
        "description": "Get the trending movies on TMDB.",
        "operationId": "trending-movies",
        "parameters": [
          {
            "name": "time_window",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "description": "`ISO-639-1`-`ISO-3166-1` code",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "default": 0
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "adult": {
                            "type": "boolean",
                            "default": true
                          },
                          "backdrop_path": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer",
                            "default": 0
                          },
                          "title": {
                            "type": "string"
                          },
                          "original_language": {
                            "type": "string"
                          },
                          "original_title": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "poster_path": {
                            "type": "string"
                          },
                          "media_type": {
                            "type": "string"
                          },
                          "genre_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "default": 0
                            }
                          },
                          "popularity": {
                            "type": "number",
                            "default": 0
                          },
                          "release_date": {
                            "type": "string"
                          },
                          "video": {
                            "type": "boolean",
                            "default": true
                          },
                          "vote_average": {
                            "type": "number",
[...]
